{% extends 'base.html' %}


{% block body %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="message type-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="message type-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card w-25 p-3" style="margin: 100px auto;">
        <div class="card-body ">
            <h2 style="margin: auto;text-align: center;margin-bottom: 50px;">Login</h2>
            <form method="post" class="form-register">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" name="username" placeholder="login" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-primary" style="float: right">Login</button>
            </form>

        </div>
        <div>dont have account ? - <a href="{% url 'reg-page' %}">register</a></div>
    </div>
{% endblock %}
