{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <div id="columns" style="padding: 20px;width: 80%;">
        <h1>{{ schema.name }}</h1>
        <form method="post">
            {% csrf_token %}
            <button name="action" value="submit" class="btn btn-primary" style="float: right;">Submit</button>
            <div style="width: 500px;">

                <label for="name" class="form-label">name of schema</label>
                <input id="name" name="name" class="form-control" value="{{ schema.name }}">
                column separator
                <select name="separator" class="form-select">
                    <option value="{{ schema.separator }}">{{ schema.get_separator_display }}</option>
                    {% for separator in separators %}
                        {% if separator.0 != schema.separator %}
                            <option value="{{ separator.0 }}">{{ separator.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <table style="">
                <tbody>
                {% for column in columns %}
                    <tr>
                        <td>
                            <label for="column{{ forloop.counter }}" class="form-label">Column name</label>
                            <input id="column{{ forloop.counter }}" name="column_name" class="form-control"
                                   value="{{ column.name }}">
                            <input type="hidden" name="cid" value="{{ column.id }}">
                        </td>
                        <td>
                            <label for="select{{ forloop.counter }}" class="form-label">Type</label>
                            <select name="type" class="form-select" id="select{{ forloop.counter }}">
                                <option value="{{ column.type }}">{{ column.get_type_display }}</option>
                                {% for type in types %}
                                    {% if column.type != type.0 %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {% if column.type == 'integer' %}
                                <label for="from{{ forloop.counter }}" class="form-label">From</label>
                                <input id="from{{ forloop.counter }}" class="form-control" style="width: 100px;"
                                       type="number" name="from"
                                       value="{{ column.specific_range.from }}">
                            {% else %}
                                <input type="hidden" name="from" value="0">
                            {% endif %}
                        </td>
                        <td>
                            {% if column.type == 'integer' %}
                                <label for="to{{ forloop.counter }}" class="form-label">To</label>
                                <input id="to{{ forloop.counter }}" class="form-control" style="width: 100px;"
                                       type="number"
                                       name="to"
                                       value="{{ column.specific_range.to }}">
                            {% else %}
                                <input type="hidden" name="to" value="0">
                            {% endif %}
                        </td>
                        <td>
                            <label for="order{{ forloop.counter }}" class="form-label">Order</label>
                            <input id="order{{ forloop.counter }}" class="form-control" type="number" min="0"
                                   name="order"
                                   value="{{ column.order }}">
                        </td>
                        <td>
                            <button style="position: absolute;text-decoration: none;" class="btn btn-link text-danger"
                                    onclick="del_column({{ column.id }})">Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="card p-3" style="margin-top: 30px;">
            <form method="POST">
                {% csrf_token %}
                <table style="">
                    <tbody>
                    <tr>
                        <td>
                            <label for="column" class="form-label">Column name</label>
                            <input id="column" name="column_name" value="" class="form-control">
                        </td>
                        <td>
                            <label for="types" class="form-label">Type</label>
                            <select name="type" id="types" class="form-select">
                                <option value="none">-----</option>
                                {% for type in types %}
                                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="display: none;" id="from_">
                            <label for="from" class="form-label">From</label>
                            <input type="number" name="from" class="form-control" style="width: 100px;">
                        </td>
                        <td style="display: none;" id="to_">
                            <label for="to" class="form-label">To</label>
                            <input id="to" type="number" name="to" class="form-control" style="width: 100px;">
                        </td>
                        <td>
                            <label for="order" class="form-label">Order</label>
                            <input id="order" type="number" min="0" name="order" class="form-control">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button name="action" value="add" class="btn btn-primary" style="margin-top: 20px;">Add column</button>
            </form>
        </div>
    </div>

    <script>
        $('#types').on('change', function () {
            if ($('#types').val() === 'integer') {
                $('#from_').show();
                $('#to_').show();
            } else {
                $('#from_').hide();
                $('#to_').hide();
            }
        });

        function del_column(cid) {
            $.ajax({
                type: 'POST', url: '{% url 'edit-schema-page' schema.id %}',
                data: {'csrfmiddlewaretoken': csrf_token, 'cid': cid, 'action': 'del'},
                dataType: 'json'
            })
        }

    </script>
{% endblock %}
