{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="w-50" style="margin: 30px auto;">
        <button style="float: right" onclick="location.href='{% url 'create-schema-page' %}'" class="btn btn-success">create</button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for schema in schemas %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'generate_dataset_page' schema.id %}">{{ schema.name }}</a></td>
                    <td>{{ schema.modified|date:"Y-m-d" }}</td>
                    <td>
                        <form method="post">
                            <a class="link-primary" href="{% url 'edit-schema-page' schema.id %}">Edit scheme</a>
                            {% csrf_token %}
                            <input type="hidden" name="sid" value="{{ schema.id }}">
                            <input type="hidden" name="action" value="del">
                            <a class="link-primary text-danger" href="#" onclick="$(this).closest('form').submit();">Delete</a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
